<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dialogues List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .card-center {
  margin: auto;
    }
  body{
        background-color: #DCDCDC;
    }
    h2{
        color: #001f3f;
    }
    table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
  </style>
</head>
<body>
    <div class="card card-center" style="width:30%">
        <div class="card-body">
    <h2>Dialogues List</h2>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Dialogues</th>
          </tr>
        </thead>  
          <tr>
            <td>1</td>
            <td>Annual parent meeting</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Annual parent meeting</td>
          </tr>
      </table>
    </div>
    </div>  
</body>
</html>
