<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="3; url='/login'" />
  </head>
  <body>
    <p>User registration successful. Please contact your admin to activate your account.</p>
  </body>
</html>